[Unit]
Description=Telegram Translator Magic Send Service
After=network.target

[Service]
# Cambiado a root porque estás en la carpeta /root/
User=root
# Cambiado a tu ruta real del servidor VPS
WorkingDirectory=/root/telegram_translate
ExecStart=/root/telegram_translate/.venv/bin/python3 main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
